<nav class="custom-navbar d-flex align-items-center justify-content-between px-4">
  <div class="logo text-gradient">nix<span>to</span></div>
  
  <div class="user-section d-flex align-items-center gap-4">
    <div class="avatars">
      <img src="https://i.pravatar.cc/30?img=1" class="avatar">
      <img src="https://i.pravatar.cc/30?img=2" class="avatar">
      <img src="https://i.pravatar.cc/30?img=3" class="avatar">
    </div>
    <div class="user-name text-white">James Radcliffe</div>
  </div>
</nav>
