<!-- <div #lottieContainer class="loader-container">
    <div class="loader"></div>
</div> -->
 <!-- <h1>Ranaaaaaaaaaaaaaaaaaaaa</h1> -->

 <div #lottieContainer class="loader-container">
    <!-- <iframe src="../../../assets/loader2.webm"></iframe> -->
     <!-- <iframe src="https://lottie.host/embed/e8512501-811f-4cea-9544-8b8c81cff0ba/E5mhafnw7y.lottie"></iframe> -->
     <iframe 
     src="https://my.spline.design/untitled-iOnN30XS51MVeQfZTpZrqHpo/" 
     frameborder="0" 
     width="100%" 
     height="100%"
     >
   </iframe>
 </div>